@model IEnumerable<GuestResponse>
@{
    Layout = null;
}
<!Doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="container d-flex justify-content-center">
        <div class="text-center p-2">
        <h2>Список участников:</h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Имя</th><th>Email</th><th>Телефон</th></tr>
            </thead>
            <tbody>
                @foreach (GuestResponse r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Email</td>
                        <td>@r.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>



